<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SerlvetDemoApp</display-name>
 <!-- <servlet>
  	<servlet-name>addition</servlet-name>
  	<servlet-class>com.param.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>addition</servlet-name>
	  <url-pattern>/add</url-pattern>
  </servlet-mapping>
 
 
  <servlet>
  	<servlet-name>square</servlet-name>
  	<servlet-class>com.param.SqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>square</servlet-name>
	  <url-pattern>/sq</url-pattern>
  </servlet-mapping>
  
  -->

  <servlet>
  
  	<servlet-name>Config</servlet-name>
  	<servlet-class>com.param.MyServlet</servlet-class>

	<init-param>
		<param-name>naam</param-name>
		<param-value>Nicky</param-value>	
	</init-param>  
	
  </servlet>
  
  <servlet-mapping>
	  <servlet-name>Config</servlet-name>
	  <url-pattern>/demo</url-pattern>
  </servlet-mapping>
  
  
  
  
  <context-param>
  	<param-name>name</param-name>
  	<param-value>Param</param-value>
  </context-param>
  
  
  <context-param>
  	<param-name>laptop</param-name>
  	<param-value>HP</param-value>
  </context-param>
   
 </web-app>